PORT=3000
MUSIC_DIR=./music
CACHE_DIR=./cache
DB_PATH=./music-db.json
ENABLE_REMOTE_FETCH=false
OPUS_BITRATE=64k
YT_DLP_JS_RUNTIME=node
YT_DLP_REMOTE_COMPONENTS=ejs:github
YT_DLP_COOKIES=
YT_DLP_COOKIES_FROM_BROWSER=
YT_DLP_FORMAT=
