PORT=3000
MUSIC_DIR=./music
CACHE_DIR=./cache
DB_PATH=./music-db.json
ENABLE_REMOTE_FETCH=false
OPUS_BITRATE=64k
YT_DLP_JS_RUNTIME=node
YT_DLP_REMOTE_COMPONENTS=
YT_DLP_FORMAT=bestaudio[ext=m4a]/bestaudio/best
